/vitis_prj/aie
/vitis_prj/hw
/vitis_prj/package_out
/vitis_prj/.Xil
/vitis_prj/.ipcache
/vitis_prj/vivado*     
/vitis_prj/*.xpe
/vitis_prj/*.txt
/vitis_prj/*.log
/vitis_prj/hw.o
/vitis_prj/*.xsa
/vitis_prj/sample*.ini 
/vitis_prj/packaged_kernel_*_hw_* 
/vitis_prj/tmp_kernel_pack_*_hw_*
/vitis_prj/scripts/kernel.xml  
/vitis_prj/scripts/*xvdpu_aie_noc.cfg     
/vitis_prj/xvdpu/hdl
/vitis_prj/xvdpu/inc
/vitis_prj/xvdpu/vitis_cfg
/vitis_prj/xvdpu/ttcl
/xvdpu_ip/DPUCVDX8G*